{
  "printWidth": 80,
  "importOrder": [
    "^react$",
    "^@remix-run/(.*)$",
    "^use([A-Z])(.*)",
    "^@/(.*)$",
    "^!/(.*)$",
    "^#/(.*)$",
    "^@chakra-ui/(.*)$",
    "@hookform/(.*)$",
    "yup",
    "<THIRD_PARTY_MODULES>",
    "^components/(.*)$",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "jsx"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "useTabs": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "semi": true,
  "singleAttributePerLine": false
}
